<body>

    <% @data.css('li.s-element').each do |l| %>
    <% type = l['data-type'] %>
    <% source = l['data-source'] %>
    <% if source == "twitter" %>
    	<% if type == "quote" %>
            <%= l.css('a.s-quote-author-username').text %>:   
            <% t = l.css('div.s-quote-text').text
               urlBlock = URI.extract(t)
               if !urlBlock.nil?
               urlBlock.each do |u|
                   urlLength = u.length
                   startIndex = t.rindex(u)
                   t.insert(startIndex, "<a href=\"")
                   endIndex = t.rindex(u) + urlLength
                   t.insert(endIndex, "\">"+u+"</a>")
               end 
           end
             %>
            <%= t %> <br />
    	<% elsif type == "image" %>
            <%= l.css('a.s-author-twitter-handle').text %>:
    		<%= l.css('div.s-image-caption').text %> <br />
    	<% end %>
    <%end%>
    <%if source == "storify" %>
    	<%if type == "text" %>
    		<br /><%= l.css("div.s-element-content.s-text").text %><br />
    	<%end%>
    <%end%>
  <%end%>
</body>